<script>
  var lazyloadads = false;
  window.addEventListener("scroll", function () {
    if ((document.documentElement.scrollTop != 0 && lazyloadads === false) || (document.body.scrollTop != 0 && lazyloadads
      === false)) {

      (function () {
        var ad = document.createElement('script');
        ad.type = 'text/javascript';
        ad.async = true;
        ad.crossorigin = 'anonymous';
        ad.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8593278970580540';
        var sc = document.getElementsByTagName('script')[0];
        sc.parentNode.insertBefore(ad, sc);
      })();

      lazyloadads = true;
    }
  }, true);
</script>